
.box,
.nesting {
  background-color: #81B214;
  color: #F58634;
  text-align: center;
  border: 1px solid #FFCC29;
  padding: 20px;
}

.nesting {
  background-color: #206A5D;
}

.divide {
  height: 20px;

}
